In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\sjjung\\Desktop\\contestData\\bccard.csv')

df

,기준년월,품목대분류코드,품목대분류명,품목중분류코드,품목중분류명,성별,연령,가구생애주기,고객소재지_광역시도,고객소재지_시군구,고객소재지_읍면동,매출금액,매출건수
0,201903,10,의류,1010,여성의류,여성,40대,초중고자녀가구,서울특별시,구로구,궁동,782521,13
1,201903,21,e상품/서비스,2110,o2o서비스,여성,20대,신혼영유아가구,서울특별시,구로구,궁동,963789,29
2,201903,19,출산/육아,1913,육아용품서비스,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,924309,46
3,201903,21,e상품/서비스,2111,e머니/상품권,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,1089360,54
4,201903,17,생활,1710,생활용품,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,1656740,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519292,202103,20,여가/스포츠,2013,여행,여성,30대,1인가구,서울특별시,영등포구,영등포동7가,1411368,7
519293,202103,21,e상품/서비스,2110,o2o서비스,남성,30대,1인가구,서울특별시,영등포구,영등포동7가,1386040,63
519294,202103,11,패션잡화,1113,시계/주얼리,여성,30대,신혼영유아가구,서울특별시,영등포구,영등포동7가,390818,7
519295,202103,16,식품,1610,가공식품,남성,40대,초중고자녀가구,서울특별시,영등포구,영등포동7가,327592,7
519296,202103,21,e상품/서비스,2110,o2o서비스,여성,60대 이상,노인가구,서울특별시,영등포구,영등포동8가,926404,10

In [3]:
df['건당매출금액']=df['매출금액']//df['매출건수']

In [4]:
df

,기준년월,품목대분류코드,품목대분류명,품목중분류코드,품목중분류명,성별,연령,가구생애주기,고객소재지_광역시도,고객소재지_시군구,고객소재지_읍면동,매출금액,매출건수,건당매출금액
0,201903,10,의류,1010,여성의류,여성,40대,초중고자녀가구,서울특별시,구로구,궁동,782521,13,60193
1,201903,21,e상품/서비스,2110,o2o서비스,여성,20대,신혼영유아가구,서울특별시,구로구,궁동,963789,29,33234
2,201903,19,출산/육아,1913,육아용품서비스,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,924309,46,20093
3,201903,21,e상품/서비스,2111,e머니/상품권,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,1089360,54,20173
4,201903,17,생활,1710,생활용품,여성,30대,신혼영유아가구,서울특별시,구로구,궁동,1656740,58,28564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519292,202103,20,여가/스포츠,2013,여행,여성,30대,1인가구,서울특별시,영등포구,영등포동7가,1411368,7,201624
519293,202103,21,e상품/서비스,2110,o2o서비스,남성,30대,1인가구,서울특별시,영등포구,영등포동7가,1386040,63,22000
519294,202103,11,패션잡화,1113,시계/주얼리,여성,30대,신혼영유아가구,서울특별시,영등포구,영등포동7가,390818,7,55831
519295,202103,16,식품,1610,가공식품,남성,40대,초중고자녀가구,서울특별시,영등포구,영등포동7가,327592,7,46798
519296,202103,21,e상품/서비스,2110,o2o서비스,여성,60대 이상,노인가구,서울특별시,영등포구,영등포동8가,926404,10,92640

In [5]:
df.가구생애주기.unique()

array(['초중고자녀가구', '신혼영유아가구', '성인자녀가구', '1인가구', '노인가구'], dtype=object)

In [6]:
df2=df[['기준년월','품목대분류명','성별','연령','가구생애주기','매출금액','매출건수','건당매출금액']]


df2

          기준년월   품목대분류명  성별      연령   가구생애주기     매출금액  매출건수  건당매출금액
0       201903       의류  여성     40대  초중고자녀가구   782521    13   60193
1       201903  e상품/서비스  여성     20대  신혼영유아가구   963789    29   33234
2       201903    출산/육아  여성     30대  신혼영유아가구   924309    46   20093
3       201903  e상품/서비스  여성     30대  신혼영유아가구  1089360    54   20173
4       201903       생활  여성     30대  신혼영유아가구  1656740    58   28564
...        ...      ...  ..     ...      ...      ...   ...     ...
519292  202103   여가/스포츠  여성     30대     1인가구  1411368     7  201624
519293  202103  e상품/서비스  남성     30대     1인가구  1386040    63   22000
519294  202103     패션잡화  여성     30대  신혼영유아가구   390818     7   55831
519295  202103       식품  남성     40대  초중고자녀가구   327592     7   46798
519296  202103  e상품/서비스  여성  60대 이상     노인가구   926404    10   92640

[519297 rows x 8 columns]

품목 대분류 또는  중분류를 정답컬럼으로 잡고 분류 모델을 작성?

In [7]:
df2.품목대분류명.unique()

array(['의류', 'e상품/서비스', '출산/육아', '생활', '뷰티', '전자', '건강', '여가/스포츠', '패션잡화',
       '기타', '식품', '가구', '인테리어'], dtype=object)

In [8]:
from datetime import datetime


df2['기준년월']=pd.to_datetime(df2['기준년월'],format='%Y%m').dt.to_period(freq='M')
df2

<ipython-input-8-508b6b5b2055>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['기준년월']=pd.to_datetime(df2['기준년월'],format='%Y%m').dt.to_period(freq='M')

           기준년월   품목대분류명  성별      연령   가구생애주기     매출금액  매출건수  건당매출금액
0       2019-03       의류  여성     40대  초중고자녀가구   782521    13   60193
1       2019-03  e상품/서비스  여성     20대  신혼영유아가구   963789    29   33234
2       2019-03    출산/육아  여성     30대  신혼영유아가구   924309    46   20093
3       2019-03  e상품/서비스  여성     30대  신혼영유아가구  1089360    54   20173
4       2019-03       생활  여성     30대  신혼영유아가구  1656740    58   28564
...         ...      ...  ..     ...      ...      ...   ...     ...
519292  2021-03   여가/스포츠  여성     30대     1인가구  1411368     7  201624
519293  2021-03  e상품/서비스  남성     30대     1인가구  1386040    63   22000
519294  2021-03     패션잡화  여성     30대  신혼영유아가구   390818     7   55831
519295  2021-03       식품  남성     40대  초중고자녀가구   327592     7   46798
519296  2021-03  e상품/서비스  여성  60대 이상     노인가구   926404    10   92640

[519297 rows x 8 columns]

In [9]:
df20=df2.loc[df2['연령']=='20대',]
df30=df2.loc[df2['연령']=='30대',]

In [10]:
#가구생애주기
marry=df2.loc[df2['가구생애주기']=='신혼영유아가구',]
solo=df2.loc[df2['가구생애주기']=='1인가구',]
child=df2.loc[df2['가구생애주기']=='초중고자녀가구',]

marry
solo
child

           기준년월   품목대분류명  성별   연령   가구생애주기      매출금액  매출건수  건당매출금액
0       2019-03       의류  여성  40대  초중고자녀가구    782521    13   60193
6       2019-03       뷰티  남성  40대  초중고자녀가구    444666    13   34205
9       2019-03       건강  남성  40대  초중고자녀가구    529505    17   31147
13      2019-03     패션잡화  남성  40대  초중고자녀가구    644111    21   30671
15      2019-03   여가/스포츠  여성  40대  초중고자녀가구  11101555    50  222031
...         ...      ...  ..  ...      ...       ...   ...     ...
519256  2021-03     인테리어  여성  40대  초중고자녀가구    424525     5   84905
519262  2021-03       식품  여성  40대  초중고자녀가구    168329     5   33665
519266  2021-03       건강  여성  40대  초중고자녀가구    585423     9   65047
519280  2021-03  e상품/서비스  여성  40대  초중고자녀가구    553418    12   46118
519295  2021-03       식품  남성  40대  초중고자녀가구    327592     7   46798

[112573 rows x 8 columns]

In [11]:
#성별+가구생애주기
marry_m=df2.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='남성'),]
marry_f=df2.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='여성'),]

solo_m=df2.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='남성'),]
solo_f=df2.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='여성'),]

child_m=df2.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='남성'),]
child_f=df2.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='여성'),]

In [12]:
#성별+가구생애주기
marry_20m=df20.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='남성'),]#신혼 20대 남성
marry_20f=df20.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='여성'),]#신혼 20대 여성
marry_30m=df30.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='남성'),]#신혼 30대 남성
marry_30f=df30.loc[(df2['가구생애주기']=='신혼영유아가구')&(df2['성별']=='여성'),]#신혼 30대 여성


solo_20m=df20.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='남성'),] # 1인 20대 남성
solo_20f=df20.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='여성'),] # 1인 20대 여성
solo_30m=df30.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='남성'),] # 1인 30대 남성
solo_30f=df30.loc[(df2['가구생애주기']=='1인가구')&(df2['성별']=='여성'),] # 1인 30대 여성

child_20m=df20.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='남성'),] #초중고 자녀 20대 남성
child_20f=df20.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='여성'),] #초중고 자녀 20대 여성
child_30m=df30.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='남성'),] #초중고 자녀 30대 남성
child_30f=df30.loc[(df2['가구생애주기']=='초중고자녀가구')&(df2['성별']=='여성'),] #초중고 자녀 20대 여성

In [13]:
m2m=marry_20m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
m2f=marry_20f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
m3m=marry_30m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
m3f=marry_30f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)

s2m=solo_20m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
s2f=solo_20f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
s3m=solo_30m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
s3f=solo_30f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)

#c2m=child_20m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False) #없음
#c2f=child_20f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False) #없음
c3m=child_30m.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)
c3f=child_30f.groupby('품목대분류명')['매출건수'].sum().sort_values(ascending=False)


print(c3m)
print(c3f)

품목대분류명
e상품/서비스    27358
식품          3154
생활          2206
여가/스포츠      1849
출산/육아       1638
전자           978
건강           689
기타           178
의류           176
뷰티           137
패션잡화         109
인테리어          52
가구             4
Name: 매출건수, dtype: int64
품목대분류명
e상품/서비스    58367
식품         13258
출산/육아       8060
생활          7913
여가/스포츠      5142
건강          3966
의류          2429
뷰티          2155
전자          2046
패션잡화        1338
인테리어         781
기타           144
가구           117
Name: 매출건수, dtype: int64

In [14]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fonm
import seaborn as sns

fig=plt.figure(figsize=(10,7))

labels=m2m.index

plt.rcParams['font.family']='Malgun Gothic'

colors=sns.color_palette('hls',len(x))

plt.pie(m2m,labels=labels,autopct='%.1f%%',colors=colors)

plt.title('신혼 20대 남성 매출건수')

NameError: name 'x' is not defined

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=m2f.index
plt.pie(m2f,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('신혼 20대 여성 매출건수')

plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=m3m.index
plt.pie(m3m,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('신혼 30대 남성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=m3f.index
plt.pie(m3f,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('신혼 30대 여성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=s2m.index
plt.pie(s2m,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('1인가구 20대 남성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=s2f.index
plt.pie(s2f,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('1인가구 20대 여성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=s3m.index
plt.pie(s3m,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('1인가구 30대 남성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=s3f.index
plt.pie(s3f,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('1인가구 30대 여성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=c3m.index
plt.pie(c3m,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('초중생 자녀 30대 남성 매출건수')
plt.show()

In [ ]:
fig=plt.figure(figsize=(10,7))

labels=c3f.index
plt.pie(c3f,labels=labels,autopct='%.1f%%',colors=colors)
plt.title('초중생 자녀 30대 여성 매출건수')
plt.show()

In [ ]:
dm2m=marry_20m.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
dm2f=marry_20f.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
dm3m=marry_30m.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
dm3f=marry_30f.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)

ds2m=solo_20m.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
ds2f=solo_20f.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
ds3m=solo_30m.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
ds3f=solo_30f.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)


dc3m=child_30m.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)
dc3f=child_30f.groupby('기준년월')['건당매출금액'].sum().sort_values(ascending=False)


dm3f

In [ ]:
import numpy as np
fig=plt.figure(figsize=(8,7))
ax=fig.add_subplot()


x=np.arange(5)


y1=dm2m
y2=dm2f
y3=dm3m
y4=dm3f

ax.plot(x,y1,label='20대 신혼 남성')
ax.plot(x,y2,label='20대 신혼 여성')
ax.plot(x,y3,label='30대 신혼 남성')
ax.plot(x,y4,label='30대 신혼 여성')
xlab=marry_20m['기준년월'].unique()


plt.xticks(x,xlab)
plt.ylabel('건당매출액합계')
plt.xlabel('날짜')
plt.title('연령별 신혼 건당매출')

ax.legend()

plt.show()

In [ ]:
import numpy as np
fig=plt.figure(figsize=(8,7))
ax=fig.add_subplot()


x=np.arange(5)


y1=ds2m
y2=ds2f
y3=ds3m
y4=ds3f

ax.plot(x,y1,label='20대 1인가구 남성')
ax.plot(x,y2,label='20대 1인가구 여성')
ax.plot(x,y3,label='30대 1인가구 남성')
ax.plot(x,y4,label='30대 1인가구 여성')
xlab=marry_20m['기준년월'].unique()


plt.xticks(x,xlab)
plt.ylabel('건당매출액합계')
plt.xlabel('날짜')
plt.title('연령별 1인가구 건당매출')

ax.legend()

plt.show()

In [ ]:
import numpy as np
fig=plt.figure(figsize=(8,7))
ax=fig.add_subplot()


x=np.arange(5)



y3=dc3m
y4=dc3f


ax.plot(x,y3,label='30대 초중자녀 남성')
ax.plot(x,y4,label='30대 초중자녀 여성')
xlab=marry_20m['기준년월'].unique()


plt.xticks(x,xlab)
plt.ylabel('건당매출액합계')
plt.xlabel('날짜')
plt.title('연령별 초중자녀가구 건당매출')

ax.legend()

plt.show()

In [ ]:
a=df2.loc[df2['품목대분류명']=='e상품/서비스',]